#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_BitcoinPremiumd += debian/examples/*
DEB_INSTALL_MANPAGES_BitcoinPremiumd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix BitcoinPremiumd USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f BitcoinPremium-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake BitcoinPremium-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/BitcoinPremiumd:
	chmod +x $(cdbs_curdestdir)usr/bin/BitcoinPremiumd
binary-post-install/BitcoinPremium-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/BitcoinPremium-qt
